* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  margin-top: 50px;
}

table {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
h1 {
  text-align: center;
}

table tr th {
  padding: 10px;
}

th{
  border: 1px solid black;
}

td {
  text-align: center;
}

span {
  padding: 0 10px;
}

ul {
  margin-top: 30px;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 10px;
}
