* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0C6291;
}

.col-12 {
  width: 100%;
  margin-top: 50px;
}

table {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
h1 {
  text-align: center;
}

table tr th {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eeee;
}

th{
  border: 5px solid #ffff;
}

td {
  padding: 5px 0;
  text-align: center;
  border: 1px solid #ffff;
}


ul {
  margin-top: 30px;
  text-align: center;
}

ul li {
  list-style: none;
  padding: 5px 0;
  color: #ffff;
  font-weight: bold;
}


.center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.center input {
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 10px;
  outline: none;
  border: none;
  border: 1px solid white;
}

button {
  padding: 10px;
  border: none;
  color: black;
  border-radius: 8px;
  background-color: #eeee;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: black;
  color: #ffff;
}
