* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  margin-top: 50px;
}

table {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
h1 {
  text-align: center;
}

table tr th {
  padding: 10px;
}

th{
  border: 1px solid black;
}

td {
  text-align: center;
}

span {
  padding: 0 10px;
}

ul {
  margin-top: 30px;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 10px;
}

.center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.center input {
  padding: 0 10px;
  margin: 0 10px;
}

button {
  padding: 10px;
  border: none;
  color: black;
  border-radius: 8px;
  background-color: #eeee;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
